
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lobster&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "PT Sans Narrow", sans-serif;
    
}
.navbar {
    background-color: rgb(226, 115, 134);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar-brand {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: white;
}
.navbar ul li{
    margin-right: 15px;
    font-size: 20px;

}
.navbar ul li a{
    color: white;
}
.navbar ul li a:hover {
    color: green;
}
.buttons{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color:rgb(222, 107, 126);
    height: 100vh;
}
.buttons button {
    margin-top: 30px;
    width: 100%;
    background: transparent;
    color: white;
    text-align:center;
    padding: 5px;
    font-size: 20px;
    border-radius: 15px;

}
button.active ,.buttons button:hover{
    background-color: green;
    
}
.content{
    margin-left: 0;
}
.filterable_cards{
    display: flex;
    justify-content: space-evenly;
}
.product-image {
    height: 28rem;
}